body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.background-img {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}
.content-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-family: 'Ultimatum-Bold', sans-serif;
    font-size: 5rem;
    text-align: center;
    margin: 10px;
    display: block;
    text-shadow: 
        3px 3px 3px #000,
        -3px 3px 3px #000,
        3px -3px 3px #000,
        -3px -3px 3px #000;
    color: white;
}
h2 {
    font-family: 'Ultimatum-Bold', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin: 10px;
    display: block;
    text-shadow: 
        3px 3px 3px #000,
        -3px 3px 3px #000,
        3px -3px 3px #000,
        -3px -3px 3px #000;
    color: white;
}
h3 {
    font-family: 'Ultimatum-Bold', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin: 10px;
    display: block;
    color: white;
}
p {
    font: 1em 'Roboto', sans-serif;
    margin: 10px;
    color: white;
}
.deck-div {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-height: 40vh;
}
@media (max-width: 1000px) {
    .deck-div {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 500px) {
    .deck-div {
        grid-template-columns: repeat(3, 1fr);
    }
}
.card-slot {
    position: relative;
    display: flex;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}
.editor-div {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width: 750px) {
    .editor-div {
        flex-direction: column;
    }
}
.add-cards-div {
    width: fit-content;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    padding: 2px;
    width: 210px;
}
@media (max-width: 550px) {
    .add-cards-div {
        margin-right: 0;
    }
}
.default-button {
    margin: 4px 0px;
    padding: 4px;
    font: 1em 'Roboto', sans-serif;
    border-radius: 5px;
    border: 2px solid #10072b;
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.default-button:hover {
    background-color: #10072b;
    color: rgb(255, 255, 255);
}
.default-button:active {
    border: 2px solid rgb(255, 255, 255);
    background-color: #10072b;
    color: rgb(255, 255, 255);
}
.default-input {
    margin: 4px 0px;
    padding: 4px;
    font: 1em 'Roboto', sans-serif;
    border-radius: 5px;
    border: 2px solid #10072b;
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
}
.settings-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.default-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 10px;
    border: 4px solid #10072b;
    padding: 20px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    width: 90vw;
    height: 90vh;
}
.default-popup h1 {
    font-family: 'Ultimatum-Bold', sans-serif;
    font-size: 2rem;
    text-align: left;
    margin: 10px;
    display: block;
    text-shadow: 
        3px 3px 3px #000,
        -3px 3px 3px #000,
        3px -3px 3px #000,
        -3px -3px 3px #000;
    color: white;
}
.default-popup h2 {
    font-family: 'Ultimatum-Bold', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    margin: 10px;
    display: block;
    text-shadow: 
        3px 3px 3px #000,
        -3px 3px 3px #000,
        3px -3px 3px #000,
        -3px -3px 3px #000;
    color: white;
}
a {
    color: #4fc3ff;
    text-decoration: underline;
    transition: color 0.2s;
}
a:hover, a:focus {
    color: #b3e0ff;
}
a.default-button {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.default-button:hover, a.default-button:focus {
    color: rgb(255, 255, 255);
}