body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.background-img {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}
.content-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-family: 'Ultimatum-Bold', sans-serif;
    font-size: 5rem;
    text-align: center;
    margin: 10px;
    display: block;
    text-shadow: 
        3px 3px 3px #000,
        -3px 3px 3px #000,
        3px -3px 3px #000,
        -3px -3px 3px #000;
    color: white;
}
h2 {
    font-family: 'Ultimatum-Bold', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin: 10px;
    display: block;
    text-shadow: 
        3px 3px 3px #000,
        -3px 3px 3px #000,
        3px -3px 3px #000,
        -3px -3px 3px #000;
    color: white;
}
h3 {
    font-family: 'Ultimatum-Bold', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin: 10px;
    display: block;
    color: white;
}
p {
    font: 1em 'Roboto', sans-serif;
    margin: 10px;
    color: white;
}
.deck-div {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-height: 50%;
}
@media (max-width: 1000px) {
    .deck-div {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 500px) {
    .deck-div {
        grid-template-columns: repeat(3, 1fr);
    }
}
.card-slot {
    position: relative;
    display: flex;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}
.editor-div {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.default-button {
    margin: 4px 0px;
    padding: 4px;
    font: 1em 'Roboto', sans-serif;
    border-radius: 5px;
    border: 2px solid #10072b;
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.default-button:hover {
    background-color: #10072b;
    color: rgb(255, 255, 255);
}
.default-button:active {
    border: 2px solid rgb(255, 255, 255);
    background-color: #10072b;
    color: rgb(255, 255, 255);
}
.settings-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 550px) {
    .settings-button-div {
        flex-direction: row;
    }
}