body {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.dices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dice_roll_button {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dice {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}