@font-face {
    font-family: 'Ultimatum-Bold';
    src: url('/res/fonts/Ultimatum Bold.otf');
}

@font-face {
    font-family: 'Ultimatum-Bold-Italic';
    src: url('/res/fonts/Ultimatum Bold Italic.otf');
}

@font-face {
    font-family: 'BadaBoom';
    src: url('/res/fonts/Badaboom.ttf');
}