@font-face {
    font-family: 'Ultimatum-Bold';
    src: url('https://joshey40.github.io/CustomMarvelSnap/res/font/Ultimatum Bold.otf');
}

@font-face {
    font-family: 'Ultimatum-Bold-Italic';
    src: url('https://joshey40.github.io/CustomMarvelSnap/res/font/Ultimatum Bold Italic.otf');
}

@font-face {
    font-family: 'BadaBoom';
    src: url('https://joshey40.github.io/CustomMarvelSnap/res/font/Badaboom.TTF');
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('https://joshey40.github.io/CustomMarvelSnap/res/font/Helvetica Neue Bold.ttf');
}